# 프로덕션 환경 설정
replicaCount: 3

spring:
  profile: "prod"

service:
  spring:
    type: ClusterIP

mysql:
  persistence:
    storageClass: "premium-rwo"
    size: 20Gi

persistence:
  logs:
    size: 10Gi

resources:
  spring:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
  mysql:
    limits:
      cpu: 2000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 2Gi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10

ingress:
  enabled: true
  hosts:
    - host: prod.kitchenlog.shop
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: kitchen-log-tls
      hosts:
        - api.kitchenlog.com

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values:
                  - spring
          topologyKey: kubernetes.io/hostname
