# 기본 설정
replicaCount: 1

# 이미지 설정
image:
  spring:
    repository: seoarc/kitchen-log-server
    pullPolicy: IfNotPresent
    tag: "latest"
  mysql:
    repository: mysql
    tag: "8.0.44-debian"

imagePullSecrets:
  - name: dockerhub-secret
nameOverride: ""
fullnameOverride: ""

# ServiceAccount 설정
serviceAccount:
  create: true
  automountServiceAccountToken: false
  annotations: {}
  name: ""

# Pod 설정
podAnnotations: {}
podSecurityContext: {}
securityContext: {}

# Service 설정
service:
  spring:
    type: NodePort
    port: 8080
    nodePort: 30080
  mysql:
    type: ClusterIP
    port: 3306

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - chart-example.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

# Ingress 설정
ingress:
  enabled: false
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: api.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: kitchen-log-tls
      hosts:
        - api.example.com

# 리소스 설정
resources:
  spring:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  mysql:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

# HPA 설정
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# Node Selector
nodeSelector: {}

# Tolerations
tolerations: []

# Affinity
affinity: {}

# 애플리케이션 설정
spring:
  profile: "dev"

timezone: "Asia/Seoul"

# AWS 설정 (외부 주입)
aws:
  accessKeyId: ""
  secretAccessKey: ""
  region: "ap-northeast-2"

# MySQL 설정 (외부 주입)
mysql:
  rootPassword: ""
  database: "kitchenlog"
  user: "kitchenlogmg"
  password: ""
  persistence:
    enabled: true
    storageClass: "standard"
    size: 10Gi

# 로그 Persistence 설정
persistence:
  logs:
    enabled: true
    storageClass: "standard"
    size: 5Gi

# StorageClass 설정
storageClass:
  create: true
  standard:
    name: "standard"
    isDefault: true
  premium:
    name: "premium-rwo"

# Health Check 설정
healthCheck:
  enabled: true
  livenessProbe:
    initialDelaySeconds: 300
    periodSeconds: 15
    timeoutSeconds: 10
    failureThreshold: 10
  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 10
